* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url('../img/pattern.png');
    background-size: contain;
    padding: 30px;

}

a {
    text-decoration: none;
    cursor: pointer;
}
.burger__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    height: 40px;
    width: 40px;
    transform: translateY(-35px);
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__items {
    display: none;
}
@media screen and (max-width: 660px){
    .menu__items-none {
        display: none;
    }
}


.menu__items-flex {
    display: flex;
}

.number-info {
    display: flex;
}

@media screen and (max-width: 1200px){
    .menu__items {
        flex-direction: column;
        gap: 15px;
        background: image('../img/pattern.png');
        padding: 15px;
        margin-bottom: 10px;
    }
    section {
        padding: 30px;
    }

    h2 {
        font-size: 1.5rem;
    }
    .menu__burger__img-close-flex {
        display: block;
    }
    .h2_logo {

    }
}

.menu__burger__img-close {
    display: none;
}

.menu__item-p:hover {
    color: #00BF78;
}

.h2_logo {
    font-size: 1rem;
    margin-top: 6px;
}
.menu__img {
    height: 30px;
    width: 30px;
}

.number {
    font-size: 0.9rem;
    margin-bottom: 6px;
    text-align: end;
}

.number__exp {
    font-size: 0.6rem;
}

.menu__burger {
    display: block;
}

.header__menu_topic {
    display: flex;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 20px;
}

.header__slogan {
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan-p {
    font-size: 0.8rem;
    padding-top: 1.5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.slogan__button {
    font-size: 0.9rem;
    padding: 9px 25px;
    margin-top: 3vh;
    align-self: center;
}

.button {
    background: #FB9475;
    border-radius: 24px;
    width: fit-content;
    color: white;
    font-size: 12px;
}


.header__girl {
    display: none;
}

@media screen and (min-width: 1263px) {

    h2 {
        font-size: 48px;
    }
    .menu__items {
    display: flex;
    flex-direction: row;
    gap: 36px;
    font-size: 1rem;
    }

    .menu__item-p {
        font-size: 0.9rem;
        padding-top: 10px;
    }

    .menu__burger {
        display: flex;
        gap: unset;
        justify-content: space-between;
        width: 56vw;
    }

    .header__girl {
        display: flex;
    }
    header {
        padding: 30px 167px;
    }
    .section {
        padding: 80px 164px;
    }
    .works__h2 {
        padding-left: 164px;
        padding-top: 80px;
        padding-bottom: 52px;
    }
    h1 {
        font-size: 2.7rem;
        padding-bottom: 5px;
        text-align: left;
    }

    .h2_logo {
        font-size: 1.3rem;
    }

    .header__slogan {
        width: 40%;
        height: 55vh;
    }
    .slogan__button {
        padding: 10px 25px;
        margin-top: 7vh;
        font-size: 0.8rem;
        align-self: auto;
    }
    .socials {
        flex-direction: column;
        align-self: auto;
    }
    .slogan-p {
        text-align: justify;
    }
    .header__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu__img {
        display: none;
    }
    /*section-about*/

    .about__content {
        display: flex;
        justify-content: space-between;
    }

    .about__text {
        width: 36vw;
    }

    .video {
        padding: 0;
    }

    .video__img {
        height: 296px;
        width: 445px;
        margin-bottom: 20px;
    }

    .video__group {
        transform: translateY(-180px);
    }

    .about__p {
        font-size: 20px;
        padding-top: 40px;
        line-height: 150%;
    }

    .about__p-desc {
        font-size: 16px;
        padding-top: 20px;
        line-height: 150%;
    }

}

.socials {
    gap: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*section-about*/

@media screen and (max-width: 1260px) {
    .video__img {
        height: 25vh;
    }
    .video__group {
        transform: translateY(-150px);
    }
    .about__p {
         font-size: 0.9rem;
         padding-top: 20px;
     }
    .about__p-desc {
        font-size: 0.8rem;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .products {
        justify-content: center;
    }
    .masters__carts {
        justify-content: center;
    }

}


.video__text {
    color: white;
    font-size: 0.8rem;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.video__display-img {
    height: 50px;
    width: 50px;
    padding-left: 35px;
}

.property {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 300px;
}

.property__topic {
    margin-top: 15px;
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
}

.property__text {
    font-size: 0.8rem;
    text-align: center;
    width: 75%;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


/*section-products*/

.products {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
}

.product__text {
    font-size: 0.8rem;
    line-height: 150%;
}

.product__button {
    padding: 9px 18px;
    font-size: 0.7rem;
    margin-top: 5px;
}

/*section-goods_prices*/

#current_link {
    color: #00BF78;
    border-bottom: #00BF78 solid 1px;
}
.goods_prices__menu {
    display: none;
}
.goods-prices__link:hover {
    color: #00BF78;
}

.goods-prices__link {
    color: black;
    font-size: 0.8rem;
}
.goods_prices {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 25px;
}

@media screen and (min-width: 1263px) {
    .goods_price__topic {
        font-size: 18px;
    }

    .goods_prices__menu {
        display: flex;
        gap: 28px;
        margin-bottom: 40px;
    }
    .goods-prices__link {
        font-size: 1rem;
    }

    .goods_price {
        min-width: 40%;
    }
    .goods_prices {
        justify-content: space-between;
        margin-bottom: 70px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 1263px) {
    .goods_price {
        width: 80vw;
    }
}

.goods_price {
    display: flex;
    justify-content: space-between;
}

.price {
    color: #00BF78;
    font-size: 1.2rem;
    font-weight: bold;
}

.goods_price__clarification {
    font-size: 0.8rem;
    margin-top: 8px;
}

.section__topic {
    margin-bottom: 20px;
}

/*section-masters*/

.masters {
    background-color: #F8F6F7;
}

.masters__carts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.masters__cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.masters__img {
    position: relative;
    z-index: 3;
}
.masters__img:hover {
    filter: brightness(70%);
    z-index: 1;
}

.masters__img__text-background {
    color: #FFFFFF;
    position: relative;
    top: 42%;
    z-index: 2;
    font-size: 15px;
    text-align: center;
}

.masters__text {
    position: relative;
    z-index: 4;
    top: 20px
}

.master__cart__text-desk {
    font-size: 0.8rem;
}

.master__cart__text-practice {
    font-weight: lighter;
    font-size: 0.68rem;
}

/*section-works*/

.works__images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}
.works__image {
    position: relative;
    z-index: 3;
}

.works__image:hover {
    filter: brightness(70%);
    z-index: 1;
    transform: translateY(-40px);
}
.works__image__background-hover {
    color: #FFFFFF;
    position: relative;
    bottom: 62%;
    z-index: 2;
    font-size: 15px;
    text-align: center;
}

.works__arrows {
    display: flex;
    justify-content: space-between;
}

.arrow-left {
    margin-right: 20px;
    position: relative;
    z-index: 2;
}
.arrow-right {
    position: relative;
    z-index: 3;
}
.ellipse {
    opacity: 0;
    position: absolute;
}
.ellipse-left {
    transform: translateX(-10px);
}

.ellipse:hover {
    opacity: 1;
}

.ellipse-right {
    transform: translateX(37px);
}

.arrows {
    display: none;
}

@media screen and (min-width: 1263px) {
    .arrows {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-right: 177px;
    }
    .works__images {
       gap: 29px;
    }
}
@media screen and (min-width: 700px) and (max-width: 1110px){
    .contacts__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
}

.works__desc {
    margin: 0 auto;
    padding-bottom:  40px;
    text-align: center;
    font-size: 0.8rem;
}

.brands {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.brands_img {
    filter: opacity(0.5);
}

/*section-contacts*/

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F8F6F7;
}

.contacts__form {
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 20px;
}

@media screen and (min-width: 1263px) {
    .brands {
        margin-bottom: 113px;
    }
    .contacts {
        height: 40vh;
    }
    .contacts__form {
       width: 445px;
       margin-right: 90px;
        padding: 40px;
    }
    .contacts__input {
        width: 374px;
        height: 14px;
    }
}

.contacts__input {
    width: 95%;
    height: 4vh;
    font-size: 14px;
    color: #A0A0A0;
    border: 1px solid #A0A0A0;
    border-radius: 4px;
    margin-bottom: 15px;
}

.contacts__info__address {
    padding-top: 32px;
}

.contacts__info__p {
    margin-bottom: 20px;
}

.contacts__link {
    text-decoration: underline;
    color: #278AFF;
}

.contacts__info__exp-socials {
    padding-top: 30px;
    font-size: 0.75rem;
    padding-bottom: 10px;
}

.contacts__socials {
    gap: 2vh;
    display: flex;
    margin-bottom: 30px;
}

.contacts__form__desc {
    padding-bottom: 30px;
    padding-top: 15px;
    font-size: 16px;
}

.contacts__button {
    padding: 12px 120px;
}

.contacts__input-last {
    margin-bottom: 30px;
}

.contacts__form__agree-p {
    margin-top: 30px;
    font-size: 13px;
}

/*footer*/
@media screen and (min-width: 1200px) {
    footer {
        height: 30px;
        margin: 20px 165px;
        justify-content: space-between;
        gap: unset;
    }
    .footer__nav {
        gap: 28px;
        align-items: center;
    }

}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    footer {
        height: 30px;
        margin: 20px 40px;
        justify-content: space-between;
        gap: unset;
    }
    .footer__nav {
        gap: 28px;
        align-items: center;
    }

}
footer {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    footer {
        height: 90px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
}

.footer__copyright {
    font-size: 12px;
    padding-bottom: 10px;
}

.footer__link {
    text-decoration: underline;
    color: #278AFF;
    font-size: 12px;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.footer__nav__a {
    font-size: 12px;
    color: black;
}