* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url('../img/pattern.png');
    background-size: contain;
    padding: 30px;

}

a {
    text-decoration: none;
    cursor: pointer;
}

.header_menu {
    display: flex;
    justify-content: space-between;
}

.menu_items {
    display: none;
}
.number-info {
    display: flex;
}

.menu_items {
    flex-direction: column;
    gap: 15px;
    background: image('../img/pattern.png');
    width: 200px;
    transform: translateX(-100px) translateY(50px);
    padding: 15px;
    margin-bottom: 10px;
}



.menu_items-p:hover {
    color: #00BF78;
}

.h2_logo {
    font-size: 1rem;
    margin-top: 6px;
}
.menu_img {
    height: 30px;
    width: 30px;
}

.number {
    font-size: 0.9rem;
    margin-bottom: 6px;
    text-align: end;
}

.number_exp {
    font-size: 0.6rem;
}

.menu-burger {
    display: flex;
    gap: 10px;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 20px;
}

.topic {
    font-size: 1.5rem;
}

.slogan {
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan_p {
    font-size: 0.8rem;
    padding-top: 1.5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.slogan_button {
    font-size: 0.9rem;
    padding: 7px 18px;
    margin-top: 3vh;
    align-self: center;
}

.button {
    background: #FB9475;
    border-radius: 24px;
    width: fit-content;
    color: white;
}


.girl {
    display: none;
}

@media screen and (min-width: 900px) {
    .menu_items {
    display: flex;
    flex-direction: row;
    gap: 36px;
    font-size: 1rem;
    }

    .menu_items-p {
        font-size: 0.9rem;
        padding-top: 10px;
    }

    .menu-burger {
        gap: unset;
        justify-content: space-between;
        width: 56vw;
    }

    .girl {
        display: flex;
    }
    header {
        padding: 30px 167px;
    }
    h1 {
        font-size: 2.7rem;
        padding-bottom: 5px;
        text-align: justify;
    }
    h2 {
        font-size: 1.8rem;
    }

    .h2_logo {
        font-size: 1.3rem;
    }

    .slogan {
        width: 40%;
        height: 55vh;
    }
    .slogan_button {
        padding: 10px 25px;
        margin-top: 7vh;
        font-size: 0.8rem;
        align-self: auto;
    }
    .socials {
        flex-direction: column;
        align-self: auto;
    }
    .slogan_p {
        text-align: justify;
    }
    .header_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu_img {
        display: none;
    }

}

.socials {
    gap: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*section-about*/

section {
    padding: 30px;
}

.video_img {
    height: 25vh;
    width: 75%;
}

.about_p {
    font-size: 0.9rem;
    padding-top: 20px;
}

.about_p-desc {
    font-size: 0.8rem;
    padding-top: 20px;
}

.video_group {
    transform: translateY(-150px);
}

.video_text {
    color: white;
    font-size: 0.8rem;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.video_display {
    height: 50px;
    width: 50px;
    padding-left: 35px;
}

.property {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.property_topic {
    margin-top: 15px;
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
}

.property_text {
    font-size: 0.8rem;
    text-align: center;
    width: 75%;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}


/*section-products*/

.products {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product_text {
    font-size: 0.8rem;
}

.product_button {
    padding: 7px 14px;
    font-size: 0.8rem;
}

/*section-goods_prices*/

.goods_prices_menu_a:hover {
    color: #00BF78;

}

.goods_prices_menu_a {
    color: black;
    font-size: 0.8rem;
}
.goods_prices {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
}

.goods_price {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price {
    color: #00BF78;
    font-size: 1.2rem;
    font-weight: bold;
}

.goods_price_clarification {
    font-size: 0.8rem;
    margin-top: 5px;
}

.section_topic {
    margin-bottom: 20px;
}
.masters_section {
    background-color: #F8F6F7;
}

/*section-masters*/

.masters_carts {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.masters_cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.masters_text {
    margin-top: 20px;
}

.master_cart_text-desk {
    font-size: 0.8rem;
}

.master_cart_text-practice {
    font-weight: lighter;
    font-size: 0.68rem;
}

/*section-works*/

.works {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

.works_header {

    display: flex;
    justify-content: space-between;
}

.arrow-left {
    margin-right: 20px;
}

.ellipse {
    display: none;
    position: absolute;
}

.arrows {
    display: none;
}

.works_desc {
    margin: 40px auto;
    text-align: center;
    font-size: 0.8rem;
}

.brands {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.brands_img {
    filter: opacity(0.5);
}